<h1>Records</h1>

<p>
  Download:
  <%= link_to "CSV", records_path(format: "csv") %> |
  <%= link_to "Excel", records_path(format: "xls") %>
</p>

<table id="records">
  <tr>
    <th>fips</th>
    <th>value</th>
    <th>value</th>
    <th>user</th>
    <th>study</th>
    <th>map</th>
  </tr>
<% @records.each do |record| %>
  <tr>
    <td><%= record.fips %></td>
    <td><%= record.value %></td>
  </tr>
<% end %>
